# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints

# Power BI
*.pbi/
*.pbids.lock
*.tmp

# local data
*.xlsx
*.xls
*.csv

# SQL backups
*.bak   

# OS
.DS_Store
Thumbs.db

# IDE 
.vscode/
.idea/

# Secrets
.env
*.env